body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background-color: #ececec;
}

.lt_menu{
  position: relative;
  margin: 0;
  .button{
    display: flex;
    padding: 10px;
    background-color: #2796ff;
    border-radius: 5px;
    cursor: pointer;
    i{
      display: block;
      border: 5px solid transparent;
      border-top: 5px solid white;
      top: 18px;
      position: absolute;
      left: 13px;
    }
    span{
      margin-left: 25px;
      color: #fff;
      transition: .3s;
    }
    &:hover{
      span{
        color: rgba(255, 255, 255, 0.85);
      }
    }
    &.active{
      border-radius: 5px 5px 0 0;
      i{
        display: block;
        border: 5px solid transparent;
        border-top: 5px solid white;
        top: 12px;
        left: 12px;
        position: absolute;
        transform: rotate(180deg);
      }
    }
  }
  .list{
    position: absolute;
    left: 0;
    top: 37px;
    border: 3px #2796ff solid;
    background-color: #fff;
    [data-level-group="2"],
    [data-level-group="3"],
    [data-level-group="4"],
    [data-level-group="5"]{
      position: absolute;
      top: 0;
      border-left: 1px #2796ff solid;
      border-right: 3px #2796ff solid;
      height: 100%;
      background-color: #fff;
      display: none;
      &:before{
        content: "";
        width: 100%;
        height: 3px;
        padding-right: 3px;
        background-color: #2796ff;
        position: absolute;
        bottom: -3px;
        z-index: -1;
      }
      &:after{
        content: "";
        width: 100%;
        height: 3px;
        padding-right: 3px;
        background-color: #2796ff;
        position: absolute;
        top: -3px;
        z-index: -1;
      }
    }
    [data-id]{
      display: block;
      text-decoration: blink;
      border-bottom: 1px #a09f9f solid;
      background-color: #fff;
      &:hover{
        > a{
          color: #fff;
          position: relative;
          &:before{
            content: "";
            display: table-caption;
            position: absolute;
            background-color: #2796ff;
            left: 0;
            top: -1px;
            border-bottom: 2px #2796ff solid;
            width: 100%;
            height: 100%;
            z-index: 0;
          }
          i{
            border-top: 4px solid #fff;
          }
        }
        > div{
          display: block;
        }
      }
      > a{
        color: #060606;
        text-decoration: blink;
        position: relative;
        display: flex;
        align-items: center;
        span{
          position: relative;
          z-index: 1;
        }
        i{
          display: block;
          border: 4px solid transparent;
          border-top: 4px solid black;
          right: 4px;
          position: absolute;
          transform: rotate(-90deg);
        }
      }
    }
  }
}